.car-product {
    border-bottom: 1px #b6c5dd solid;
    font-size: 10pt;
    padding: 20px;
    overflow: hidden;
}

.car-product > .right {
    width: 200px;
}

.car-product img {
    max-width: 200px;
}

.btn-more {
    color: blue;
    cursor: pointer;
}

.btn-more:hover {
    text-decoration: underline;
}

.toolkit {
    position: absolute;
    padding: 20px;
    background: #FFFCCC;
    border: 1px #cccccc  solid;
    text-transform: capitalize;
    font-size: 14px;
}